.blocx-modal_body p {
    padding: 10px;
}
.header1 {
    color: #202124;
}
.grays {
    color: #717171;
}
.page5btn {
    margin-top: 0px;
    height: 50px;
    padding: 0px 10px;
}
.blocx-modal {
    width: 780px;
}